<?xml version="1.0"?>
<model>
  <name>typhoon_h480</name>
  <version>1.0</version>
  <sdf version='1.6'>typhoon_h480.sdf</sdf>

  <author>
   <name>Azarakhsh Keipour</name>
   <email>keipour@cmu.edu</email>
  </author>

  <description>
    This is a model of omnidirectional hexarotor with tilted rotors.
  </description>
</model>

